# -*- python -*-
# ex: set filetype=python:


import os
cfg_dir = os.path.abspath(os.path.dirname(__file__))
base_dir = os.path.abspath(f"{cfg_dir}/../")
import sys
sys.path.append(base_dir)
print(sys.path)


from datetime import timedelta
from collections import defaultdict
from dotenv import load_dotenv

from builders.sequences.container import rpm_autobake
from builders.infra.runtime import DockerConfig
from builders.config.callables import canStartBuild, nextBuild

load_dotenv(dotenv_path=f"{base_dir}/docker-compose/.env.local")

from buildbot.plugins import steps, util, worker
from buildbot.process.properties import Property
from buildbot.process.results import FAILURE, SUCCESS, WARNINGS
from master_common import base_master_config
from workers import worker
from builders.base import Builder

####### VARIABLES
vsWarningPattern = "^.*: warning C.*$"


# Non autogen master. For now the directory structure is:
# <srcdir>
# └── <master-name>
#     ├── buildbot.tac
#     └── master.cfg
#
# Non autogen masters load from <srcdir> for now.

print(sys.path)
print(base_dir)

# Load the slave, database passwords and 3rd-party tokens from an external private file, so
# that the rest of the configuration can be public.
config = {"private": {}}
with open(os.path.join(base_dir, "master-private.cfg"), "r") as file:
    exec(file.read(), config, {})


c = BuildmasterConfig = base_master_config(config)

WORKER_POOL = worker.WorkerPool()
WORKER_POOL.add(arch="amd64", worker=worker.NonLatent("ro-apexis-bbw3", config, 64))
WORKER_POOL.add(arch="amd64", worker=worker.NonLatent("hz-bbw2-ubuntu1804", config, 64))

c["workers"] = WORKER_POOL.instances

# import json
# current_dir = os.path.dirname(__file__)

VOLUME_MOUNTS = [
    ('%(prop:buildername)s-%(prop:buildnumber)s', '/home/buildbot', 'volume'),
    ('packages-autofs', '/home/buildbot', 'bind')
]

# To generate autobake builders, this can be
# done in a loop using something similar like os_info.yaml
c["builders"] = [
    Builder(
       name = 'amd64-almalinux-8-autobake',
       sequences=[rpm_autobake(DockerConfig(
            image_tag=f'almalinux:1',
            volume_mounts=VOLUME_MOUNTS,
            shm_size='2g',
            env_vars=[
                ('LANG', 'en_US.UTF-8'),
                ('LC_ALL', 'en_US.UTF-8'), 
            ],
            memlock_limit=1024

        ))],
       workerpool=WORKER_POOL.get_list(arch="amd64"),
       can_start_build=canStartBuild,
       next_build=nextBuild,
       tags=[],
    )
]

# workers_info = [worker.__dict__ for worker in c["workers"]]
# with open(f"{current_dir}/workers_info_DEV.json", "w") as f:
#     json.dump(workers_info, f, default=str, indent=4)

# builders_info = [builder.__dict__ for builder in c["builders"]]
# with open(f"{current_dir}/builders_info_DEV.json", "w") as f:
#   json.dump(builders_info, f, default=str, indent=4)

# # Add a Janitor configurator that removes old logs
# c["configurators"] = [util.JanitorConfigurator(logHorizon=timedelta(weeks=6), hour=23)]
