# -*- python -*-
# ex: set filetype=python:

import os

from configuration.builders.base import Builder
from configuration.builders.config.callables import canStartBuild, nextBuild

# from configuration.builders.s\equences.master import schedulers
from configuration.builders.infra.runtime import DockerConfig
from configuration.builders.sequences.container import rpm_autobake
from configuration.workers import worker
from master_common import base_master_config

####### VARIABLES
vsWarningPattern = "^.*: warning C.*$"

cfg_dir = os.path.abspath(os.path.dirname(__file__))
base_dir = os.path.abspath(f"{cfg_dir}/../")

config = {"private": {}}
with open(os.path.join(base_dir, "master-private.cfg"), "r") as file:
    exec(file.read(), config, {})


c = BuildmasterConfig = base_master_config(config)

WORKER_POOL = worker.WorkerPool()
# TODO (Faustin & Razvan) - We need an actual first worker for this master
WORKER_POOL.add(
    arch="amd64", worker=worker.NonLatent(name="worker1", config=config, total_jobs=24)
)

c["workers"] = WORKER_POOL.instances

# TODO (Razvan) - Suppose these vars come from another abstraction
builder_name = "amd64-fedora-39-rpm-autobake-migration"
image_tag = "fedora39"
rpm_type = "fedora39"
arch = "amd64"
builder_jobs = 24

c["builders"] = [
    Builder(
        name=builder_name,
        sequences=[
            rpm_autobake(
                buildername=builder_name,
                jobs=builder_jobs,
                config=DockerConfig(
                    repository=os.environ["CONTAINER_REGISTRY_URL"],
                    image_tag=image_tag,
                    basedir="/home/buildbot",
                    volume_mounts=[
                        (f"{builder_name}", "/home/buildbot", "volume"),
                        (f'{os.environ["MASTER_PACKAGES_DIR"]}/', "/packages", "bind"),
                        ("/srv/buildbot/ccache", "/mnt/ccache", "bind"),
                    ],
                    shm_size="2g",
                    env_vars=[
                        # TODO (Razvan) Refactoring FetchTarball will rm ARTIFACTS_URL from ENV.
                        ("ARTIFACTS_URL", os.environ["ARTIFACTS_URL"]),
                        # ('ARTIFACTS_URL', "https://ci.mariadb.org"),
                        ("CCACHE_DIR", "/mnt/ccache"),
                        # ('S3_ACCESS_KEY','%(secret:minio_access_key)s'),
                    ],
                    memlock_limit=1024,
                ),
                rpm_type=rpm_type,
                arch=arch,
                # artifacts_url="https://ci.mariadb.org",
                artifacts_url=os.environ["ARTIFACTS_URL"],
                has_compat=False,
                test_galera=True,
            ),
            # schedulers(["install", "upgrade", "dockerlibrary"]),
        ],
    ).get_config(
        workers=WORKER_POOL.get_list(arch=arch),
        next_build=nextBuild,
        can_start_build=canStartBuild,
        tags=[],
        properties={
            "jobs": builder_jobs,
            "rpm_type": rpm_type,
            "save_packages": True,
        },
    ),
]
