# -*- python -*-
# ex: set filetype=python:

from dotenv import load_dotenv

import os
cfg_dir = os.path.abspath(os.path.dirname(__file__))
base_dir = os.path.abspath(f"{cfg_dir}/../")
import sys
#sys.path.append(base_dir)
#load_dotenv(dotenv_path=f"{base_dir}/docker-compose/.env.local")

from datetime import timedelta
from collections import defaultdict
from buildbot.plugins import schedulers, util


from configuration.builders.sequences.container import rpm_autobake, quick_build
from configuration.builders.sequences.master import schedulers
from configuration.builders.infra.runtime import DockerConfig
from configuration.builders.config.callables import canStartBuild, nextBuild



from buildbot.plugins import steps, util
from buildbot.process.properties import Property
from buildbot.process.results import FAILURE, SUCCESS, WARNINGS
from master_common import base_master_config
from configuration.workers import worker
from configuration.builders.base import Builder


####### VARIABLES
vsWarningPattern = "^.*: warning C.*$"


# Non autogen master. For now the directory structure is:
# <srcdir>
# └── <master-name>
#     ├── buildbot.tac
#     └── master.cfg
#
# Non autogen masters load from <srcdir> for now.


# Load the slave, database passwords and 3rd-party tokens from an external private file, so
# that the rest of the configuration can be public.
config = {"private": {}}
with open(os.path.join(base_dir, "master-private.cfg"), "r") as file:
    exec(file.read(), config, {})


c = BuildmasterConfig = base_master_config(config)

WORKER_POOL = worker.WorkerPool()
#WORKER_POOL.add(arch="amd64", worker=worker.NonLatent("ro-apexis-bbw3", config, 64))
#WORKER_POOL.add(arch="amd64", worker=worker.NonLatent("hz-bbw2-ubuntu1804", config, 64))
WORKER_POOL.add(arch="amd64", worker=worker.NonLatent("worker1", config, 64))

c["workers"] = WORKER_POOL.instances

import json
current_dir = os.path.dirname(__file__)


MASTER_PACKAGES = os.environ["MASTER_PACKAGES_DIR"]
AUTOBAKE_CONTAINER_MOUNTS = [
    ('%(prop:buildername)s', '/home/buildbot', 'volume'), #sharing container state
    (f'{MASTER_PACKAGES}/', '/packages', 'bind'), # sharing packages
    ('/srv/buildbot/ccache', '/mnt/ccache', 'bind') # ccache
]

# To generate autobake builders, this can be
# done in a loop using something similar like os_info.yaml
c["builders"] = [
    Builder(
       name = 'amd64-fedora-39-rpm-autobake',
       sequences=[
          rpm_autobake(config = DockerConfig(
            image_tag=os.environ["CONTAINER_REGISTRY_URL"] + "fedora39",
            volume_mounts=AUTOBAKE_CONTAINER_MOUNTS,
            shm_size='2g',
            env_vars=[
                # ('ARTIFACTS_URL', os.environ["ARTIFACTS_URL"]),
                ('ARTIFACTS_URL', "https://ci.mariadb.org"),
                ('CCACHE_DIR', '/mnt/ccache'), 
            ],
            memlock_limit=1024

        ),
            rpm_type="fedora39",
            arch="amd64",
            url="https://ci.mariadb.org",
            has_compat=False,
        ),
        schedulers(["install", "upgrade", "dockerlibrary"]),
       ],
       workerpool=WORKER_POOL.get_list(arch="amd64"),
       can_start_build=canStartBuild,
       next_build=nextBuild,
       tags=[],
       properties={
        "jobs": 7,
        # "tarbuildnum": "54877",
        # "mariadb_version": "mariadb-12.0.0",
        "rpm_type": "fedora39",
        }
    ).get_config(),

    Builder(
       name = 'amd64-fedora-39',
       sequences=[
          quick_build(config = DockerConfig(
            image_tag=os.environ["CONTAINER_REGISTRY_URL"] + "fedora39",
            volume_mounts=AUTOBAKE_CONTAINER_MOUNTS,
            shm_size='6g',
            env_vars=[
                # ('ARTIFACTS_URL', os.environ["ARTIFACTS_URL"]),
                ('ARTIFACTS_URL', "https://ci.mariadb.org"),
                ('CCACHE_DIR', '/mnt/ccache'), 
            ],
            memlock_limit=1024

        ),
        ),
       ],
       workerpool=WORKER_POOL.get_list(arch="amd64"),
       can_start_build=canStartBuild,
       next_build=nextBuild,
       tags=[],
       properties={
        "jobs": 7,
        }
    ).get_config()
]

# workers_info = [worker.__dict__ for worker in c["workers"]]
# with open(f"{current_dir}/workers_info_DEV.json", "w") as f:
#     json.dump(workers_info, f, default=str, indent=4)

# builders_info = [builder.__dict__ for builder in c["builders"]]
# with open(f"{current_dir}/builders_info_DEV.json", "w") as f:
#   json.dump(builders_info, f, default=str, indent=4)


# factory_info = [builder.factory.steps for builder in c["builders"]]

# steps = []
# for i in factory_info:
#    for j in i:
#       steps.append(j.__dict__)

# with open(f"{current_dir}/steps_info_DEV.json", "w") as f:
#   json.dump(steps, f, default=str, indent=4)

# with open(f"{current_dir}/steps_info_DEV.json", "w") as f:
#   json.dump(steps_info, f, default=str, indent=4)

# Add a Janitor configurator that removes old logs
c["configurators"] = [util.JanitorConfigurator(logHorizon=timedelta(weeks=6), hour=23)]