# -*- python -*-
# ex: set filetype=python:

from dotenv import load_dotenv

import os

from configuration.builders.sequences.container import rpm_autobake
# from configuration.builders.sequences.master import schedulers
from configuration.builders.infra.runtime import DockerConfig
from configuration.builders.config.callables import canStartBuild, nextBuild
from master_common import base_master_config
from configuration.workers import worker
from configuration.builders.base import Builder


####### VARIABLES
vsWarningPattern = "^.*: warning C.*$"

cfg_dir = os.path.abspath(os.path.dirname(__file__))
base_dir = os.path.abspath(f"{cfg_dir}/../")

config = {"private": {}}
with open(os.path.join(base_dir, "master-private.cfg"), "r") as file:
    exec(file.read(), config, {})


c = BuildmasterConfig = base_master_config(config)

WORKER_POOL = worker.WorkerPool()
WORKER_POOL.add(arch="amd64", worker=worker.NonLatent(name="worker1", config=config, total_jobs=64))

c["workers"] = WORKER_POOL.instances


MASTER_PACKAGES = os.environ["MASTER_PACKAGES_DIR"]
AUTOBAKE_CONTAINER_MOUNTS = [
    ('%(prop:buildername)s', '/home/buildbot', 'volume'), #sharing container state
    (f'{MASTER_PACKAGES}/', '/packages', 'bind'), # sharing packages
    ('/srv/buildbot/ccache', '/mnt/ccache', 'bind') # ccache
]

c["builders"] = [
    Builder(name = 'amd64-fedora-39-rpm-autobake-migration',
       sequences=[
           rpm_autobake(
            buildername="amd64-fedora-39-rpm-autobake",
            config = DockerConfig(
                repository=os.environ["CONTAINER_REGISTRY_URL"],
                image_tag="fedora39",
                basedir="/home/buildbot",
                volume_mounts=AUTOBAKE_CONTAINER_MOUNTS,
                shm_size='2g',
                env_vars=[
                    # ('ARTIFACTS_URL', os.environ["ARTIFACTS_URL"]),
                    ('ARTIFACTS_URL', "https://ci.mariadb.org"),
                    ('CCACHE_DIR', '/mnt/ccache'), 
                ],
                memlock_limit=1024,
                checkpoint = "checkpoint:amd64-fedora-39-rpm-autobake",
            ),
            rpm_type="fedora39",
            arch="amd64",
            url="https://ci.mariadb.org",
            has_compat=False,
        ),
        # schedulers(["install", "upgrade", "dockerlibrary"]),
       ],
    ).get_config(
        workers=WORKER_POOL.get_list(arch="amd64"),
        next_build=nextBuild,
        can_start_build=canStartBuild,
        tags=[],
        properties={
            "jobs": 7,
            "rpm_type": "fedora39",
        }
    ),
    ]